# Build artifacts
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userprefs

# Rider/Resharper
.idea/
*.DotSettings.user

# VS Code
.vscode/

# NuGet
*.nupkg
packages/
project.lock.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Other
*.cache
**/FileContentIndex/*
**/*.vsidx
**/*.v2
**/*.cache
